body {
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: lightgray;
  color: #333;
}

input {
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: lightgray;
}