* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ae58ff;
  color: #ffffff;
}

label,
button {
  display: block;
  margin-top: 10px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #ae58ff;
  text-transform: uppercase;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #ae58ff;
  border: 1px solid #ffffff;
  color: #ffffff;
}

input {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

select {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 5px 35px;
  cursor: pointer;
}