.header {
  background-color: yellow;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border: solid 1px black;
  padding: 10px;
  font-size: 20px;
}

.relative {
  position: relative;
  height: 100px;
  background-color: blueviolet;
}

.absolute {
  position: absolute;
  height: 50px;
  width: 20px;
  background-color: salmon;
  top: 0;
  right: 10px;
}

.fixed {
  width: 50px;
  height: 50px;
  background-color: greenyellow;
  position: fixed;
  bottom: 20px;
  right: 20px;
}