.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
}

.header {
  grid-column: 1 / -1;
  background-color: rgb(188, 186, 186);
  padding: 20px;
}

.sidebar {
  background-color: rgb(92, 91, 91);
  padding: 20px;
}

.content {
  background-color: #ffffff;
  padding: 20px;
}