* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.cabecalho, .menu, .rodape {
  background-color: lightblue;
  grid-column: 1 / -1;
  padding: 10px;
}

.conteudo, .col-direita, .col-esquerda{
  background-color: lightblue;
  padding: 50px;
}